/* fonts */

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Bold.woff2") format("woff2"), url("../fonts/Almarai-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-ExtraBold.woff2") format("woff2"), url("../fonts/Almarai-ExtraBold.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Light.woff2") format("woff2"), url("../fonts/Almarai-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Almarai";
    src: url("../fonts/Almarai-Regular.woff2") format("woff2"), url("../fonts/Almarai-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Main  Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Almarai", "sans-serif";
}

:root {
    --clr-primary: #155ebd;
    --clr-secondry: #2e2e2e;
    --tran-primary: 0.4s;
}


/* Scrollbar */

::-webkit-scrollbar {
    background-color: var(--clr-secondry);
    width: 9px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-primary);
    min-height: 180px;
}


/* ===== Main Classes ===== */


/* Colors */

.clr-primary {
    color: var(--clr-primary);
}

.clr-primary-hover:hover {
    transition: var(--tran-primary);
    color: var(--clr-primary);
}

.clr-secondry {
    color: var(--clr-secondry);
}

.back-primary {
    background-color: var(--clr-primary);
}

.back-secondry {
    background-color: var(--clr-secondry);
}

.light-text {
    color: #818181;
}


/* Some Classes */

.index--1 {
    z-index: -1;
}

.cursor-pointer {
    cursor: pointer;
}

.index-333 {
    z-index: 333;
}


/* centered with position  */

.center-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* centered with flex */

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Section title effect */

.section-title-effect {
    position: relative;
}

.section-title-effect::before {
    content: "";
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #ededed;
    position: absolute;
    z-index: -1;
    transform: translate(-25px, -15px);
}


/* ================== navbar =================== */

.navbar {
    top: 30px;
    transition: var(--tran-primary);
}

.navbar-collapse {
    margin-top: 10px;
}

.nav-link {
    font-size: 17px;
    padding: 0;
    transition: var(--tran-primary);
}

.nav-link:hover {
    color: var(--clr-primary);
}

@media (min-width: 1400px) {
    .nav-link {
        margin-right: 30px;
    }
}

@media (min-width: 1200px) {
    .nav-link {
        margin-right: 15px;
    }
}

@media (max-width: 1199px) {
    .nav-link {
        margin-bottom: 15px;
    }
}


/* ===================== Landing ===================== */

.landing {
    margin-top: 70px;
}

.landing-text h1 {
    line-height: 75px;
}

@media (min-width: 992px) {
    .landing-text h1 {
        font-size: 80px;
    }
}

@media (max-width: 991px) {
    .landing-text h1 {
        font-size: 60px;
        text-align: center;
        line-height: 62px;
    }
    .rounded-sm-5 {
        border-radius: 24px !important;
    }
}

@media (min-width: 992px) {
    .landing-text p {
        max-width: 360px;
    }
}


/* ============================ Our Customers ============================*/

.our-customers h2::before {
    content: "";
    width: 50px;
    height: 40px;
    border-radius: 5px;
    background-color: #ededed;
    position: absolute;
    z-index: -1;
    transform: translate(-25px, -15px);
}

.our-customers-box {
    border-radius: 10px;
    border: 1px solid #f0f0f0;
    background-color: #fafafa;
    width: 182px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .our-customers-box {
        width: 120px;
        height: 59px;
        padding: 7px;
    }
}

.our-customers-box img {
    display: inline-block;
    user-select: none;
    max-width: 100%;
    max-height: 100%;
}


/* =========================== Floor Stand ========================== */

.floor-stand-swiper {
    max-width: 975px;
    background: linear-gradient(#155ebd 0%, #2575dc 100%);
}

@media (min-width: 992px) {
    .floor-stand-swiper {
        height: 345px;
    }
}

.floor-stand-text h3 {
    max-width: 355px;
}

.floor-stand-image img {
    width: 89%;
    margin: auto;
    display: block;
    filter: drop-shadow(0px 19px 26px #0000000f);
    /* filter: drop-shadow(-2px 20px 6px #0000000f); */
}

.floor-next,
.floor-prev {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-secondry);
    color: #fff;
}


/* =============================== Our Products =======================*/

.our-products {
    margin-top: 150px;
    margin-bottom: 80px;
}

.our-products-content {
    max-width: 990px;
}

.our-products-box {
    border-radius: 30px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.07);
    padding-bottom: 12px;
    padding-top: 12px;
    position: relative;
}

.our-products-box .image {
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products-box .image img {
    max-width: 100%;
}

.our-products-box-info {
    margin-top: 35px;
    padding-left: 28px;
}

.our-products-box-info h4 {
    font-size: 25px;
    font-weight: 900;
    color: var(--clr-secondry);
}

.our-products-box-info p {
    color: #c6c6c6;
    width: 80%;
}

.our-products-box>a {
    width: 58px;
    height: 50px;
    border-radius: 10px 0px 30px 0px;
    background: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 19px;
    position: absolute;
    right: 0;
    bottom: 0;
}


/* ======================= Our Program ===================== */

.our-program .swiper-slide img {
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.our-program-next,
.our-program-prev {
    background-color: transparent;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 333;
}


/* ========================= Leading Ecommerce ===================== */

.leading-ecommerce-box {
    text-align: center;
    border-radius: 24px;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.06);
    min-height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;
    padding: 0 14px;
}

.leading-ecommerce-box span {
    display: block;
    font-weight: bold;
    color: var(--clr-secondry);
}


/* ======================== Show Room ======================= */

.show-room {
    background: linear-gradient(230deg, #155ebd 0%, #2575dc 100%);
}


/* ============================ Start Footer =========================== */

.footer {
    background-color: #fafafa;
}